<div class="post">
  <div class="header">
    <h1>Post Title</h1>

    <button
      class="btn btn-link"
      routerLink="/"
    >A l'accueil</button>
  </div>

  <div class="info">
    <strong>Auteur</strong>
    <small>12.09.2019</small>
  </div>

  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad aliquam architecto aut beatae consectetur consequuntur cum, eum eveniet illum inventore ipsa ipsum laudantium magnam modi neque nihil nisi non optio quae tempora tempore voluptates voluptatum. Accusamus aut dicta eveniet expedita illo laudantium placeat possimus, quibusdam quisquam, repellendus vero voluptate!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad aliquam architecto aut beatae consectetur consequuntur cum, eum eveniet illum inventore ipsa ipsum laudantium magnam modi neque nihil nisi non optio quae tempora tempore voluptates voluptatum. Accusamus aut dicta eveniet expedita illo laudantium placeat possimus, quibusdam quisquam, repellendus vero voluptate!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad aliquam architecto aut beatae consectetur consequuntur cum, eum eveniet illum inventore ipsa ipsum laudantium magnam modi neque nihil nisi non optio quae tempora tempore voluptates voluptatum. Accusamus aut dicta eveniet expedita illo laudantium placeat possimus, quibusdam quisquam, repellendus vero voluptate!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad aliquam architecto aut beatae consectetur consequuntur cum, eum eveniet illum inventore ipsa ipsum laudantium magnam modi neque nihil nisi non optio quae tempora tempore voluptates voluptatum. Accusamus aut dicta eveniet expedita illo laudantium placeat possimus, quibusdam quisquam, repellendus vero voluptate!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad aliquam architecto aut beatae consectetur consequuntur cum, eum eveniet illum inventore ipsa ipsum laudantium magnam modi neque nihil nisi non optio quae tempora tempore voluptates voluptatum. Accusamus aut dicta eveniet expedita illo laudantium placeat possimus, quibusdam quisquam, repellendus vero voluptate!
  </div>

</div>
