<div *ngIf="post$ | async as post; else loading">

  <div class="post">
    <div class="header">
      <h1>{{post.title}}</h1>
      <div class="btns">
        <button
          *ngIf="isAuth"
          class="btn btn-link"
          [routerLink]="['/admin', 'post', post.id, 'edit' ]"
        >Modifier
        </button>
        <button
          class="btn btn-link"
          routerLink="/"
        >A l'accueil
        </button>
      </div>


    </div>

    <div class="info">
      <strong>{{post.author}}</strong>
      <small>{{post.date | date:'medium'}}</small>
    </div>

    <div>
      <quill-view-html [content]="post.text"></quill-view-html>
    </div>

  </div>
</div>

<ng-template #loading>
  <p class="text-center">Chargement de post...</p>
</ng-template>
