<div *ngIf="form; else loading">

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-control"
         [ngClass]="{invalid: form.controls['title'].touched && form.controls['title'].invalid}">
      <label for="title">Titre du poste:</label>
      <input id="title" type="text" formControlName="title">
      <div class="validation"
           *ngIf="form.controls['title'].touched && form.controls['title'].invalid">
        <small
          *ngIf="form.controls['title'].errors?.['required']"
        >Entrez le titre du poste</small>

      </div>
    </div>

    <div class="form-control">
      <div [ngxSummernote]="config" formControlName="text"></div>
    </div>

    <button
      type="submit"
      class="btn-primary btn "
      [disabled]="form.invalid && submitted"
    >Modifier</button>

  </form>
</div>
<ng-template #loading >
  <p class="text-center">Chargement en cours...</p>
</ng-template>
